<router-outlet />

<!-- Uso de Variables  -->
<h1>Hola {{ userName }}</h1>

<!-- Data Binding  -->
<input type="text" [placeholder]="userName">

<!-- Importaciones  -->
<app-header></app-header>


<!-- Eventos -->
<h2 (click)="addOne()">Number: {{number}}</h2>


<!-- Doble Data Binding // ngModel-->
<p>User Name {{userName}}</p>
<input type="text" [(ngModel)]="userName" (input)="addOne()">


<!-- Bloque IF en Angular / Renderizado Condicional  -->
<h1>Bloque &#64; if - Renderizado dinamico </h1>
@if (condition) {
  <p>La Condicional se cumple</p>
}

@else if (condition2) {
  <p>La Condicional 2 se cumple</p>
}
@else {
  <p>Las condiciones no se cumplen</p>
}


<!-- Bloque For en Angular / Renderizar Listas -->
<h1>Bloque &#64; For - Renderizado de Listas </h1>
@for (movie of movies; track movie) {
  <p>{{$index + 1}} - {{movie}}</p>
}


<!-- Bloque For en Angular  -->

<ul>
  @for (animal of animals; track animal.id) {
    <li>
        <h2>{{animal.name}}</h2>
        <img [src]="animal.img" width="200" >
    </li>
  }
</ul>



<!-- Decorador Input Padre - Hijo  -->
 <h1>&#64; input - Comunicacion Padre e Hijo</h1>
 <app-child [msg]="text" [person]="person" ></app-child>